This is our notebook for our KNN model.

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from datetime import datetime as DAMN

In [2]:
df = pd.read_csv("crime.csv")
print(df.size)

17143662

In [3]:
df[:10]

,Unnamed: 0,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Latitude,Longitude,sin_hour,cos_hour,sin_month,cos_month
0,23,067XX S PULASKI RD,ASSAULT,SIMPLE,PARKING LOT/GARAGE(NON.RESID.),0,0,833,8,13,65,1150857,1859788,41.771146,-87.722570,7.847643e-15,1.0,1.0,6.123234e-17
1,66,057XX S RACINE AVE,ASSAULT,SIMPLE,APARTMENT,0,1,713,7,16,67,1169298,1866815,41.790050,-87.654769,7.847643e-15,1.0,1.0,6.123234e-17
2,304,061XX S THROOP ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,0,1,713,7,16,67,1168680,1863944,41.782185,-87.657118,7.847643e-15,1.0,1.0,6.123234e-17
3,674,015XX N KOSTNER AVE,OTHER OFFENSE,TELEPHONE THREAT,APARTMENT,0,0,2534,25,37,23,1146760,1909896,41.908728,-87.736312,7.847643e-15,1.0,1.0,6.123234e-17
4,696,027XX W 59TH ST,THEFT,$500 AND UNDER,TAXICAB,0,0,824,8,16,66,1158917,1865413,41.786421,-87.692872,7.847643e-15,1.0,1.0,6.123234e-17
5,826,037XX W 59TH ST,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,0,0,822,8,14,62,1152408,1865224,41.786033,-87.716742,7.847643e-15,1.0,1.0,6.123234e-17
6,1172,0000X W TERMINAL ST,CRIMINAL TRESPASS,TO STATE SUP LAND,AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA,1,0,1652,16,41,76,1100726,1934289,41.976421,-87.904976,7.847643e-15,1.0,1.0,6.123234e-17
7,1300,012XX S SAWYER AVE,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,0,1,1022,10,24,29,1154889,1894311,41.865802,-87.706868,7.847643e-15,1.0,1.0,6.123234e-17
8,1344,102XX S COTTAGE GROVE AVE,BATTERY,DOMESTIC BATTERY SIMPLE,STREET,1,0,511,5,8,50,1182767,1837177,41.708418,-87.606301,7.847643e-15,1.0,1.0,6.123234e-17
9,1386,0000X W TERMINAL ST,CRIMINAL TRESPASS,TO STATE SUP LAND,AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA,1,0,1655,16,41,76,1104700,1933741,41.974862,-87.890372,7.847643e-15,1.0,1.0,6.123234e-17

In [4]:
df.drop(["Unnamed: 0", "Block", "Beat", "Ward", "Community Area", "Latitude", "Longitude", "District"], inplace=True, axis=1)

In [5]:
df[:5]

,Primary Type,Description,Location Description,Arrest,Domestic,X Coordinate,Y Coordinate,sin_hour,cos_hour,sin_month,cos_month
0,ASSAULT,SIMPLE,PARKING LOT/GARAGE(NON.RESID.),0,0,1150857,1859788,7.847643e-15,1.0,1.0,6.123234e-17
1,ASSAULT,SIMPLE,APARTMENT,0,1,1169298,1866815,7.847643e-15,1.0,1.0,6.123234e-17
2,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,0,1,1168680,1863944,7.847643e-15,1.0,1.0,6.123234e-17
3,OTHER OFFENSE,TELEPHONE THREAT,APARTMENT,0,0,1146760,1909896,7.847643e-15,1.0,1.0,6.123234e-17
4,THEFT,$500 AND UNDER,TAXICAB,0,0,1158917,1865413,7.847643e-15,1.0,1.0,6.123234e-17

In [6]:
# One Hot Encoded (Categorical Data): Primary Type, Description, Location Description
crime = pd.get_dummies(df, columns =['Primary Type', 'Description', 'Location Description'])

In [7]:
# Look at data
crime[:10]

,Arrest,Domestic,X Coordinate,Y Coordinate,sin_hour,cos_hour,sin_month,cos_month,Primary Type_ARSON,Primary Type_ASSAULT,...,Location Description_TRUCK,Location Description_VACANT LOT,Location Description_VACANT LOT/LAND,Location Description_VEHICLE - DELIVERY TRUCK,Location Description_VEHICLE - OTHER RIDE SERVICE,Location Description_VEHICLE NON-COMMERCIAL,Location Description_VEHICLE-COMMERCIAL,Location Description_VESTIBULE,Location Description_WAREHOUSE,Location Description_YARD
0,0,0,1150857,1859788,7.847643e-15,1.0,1.0,6.123234e-17,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1169298,1866815,7.847643e-15,1.0,1.0,6.123234e-17,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1168680,1863944,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1146760,1909896,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1158917,1865413,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,1152408,1865224,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,1100726,1934289,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,1154889,1894311,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,1182767,1837177,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,0,1104700,1933741,7.847643e-15,1.0,1.0,6.123234e-17,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# See columns present
len(crime.columns)

445

In [9]:
y = crime["Arrest"].copy(True)
X = crime.iloc[:,1:].copy(True)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state = DAMN.now().second)

In [11]:
# instantiate a KNN classifier with 3 neighbors
knn = KNeighborsClassifier(n_neighbors=1000)

In [12]:
# fit the model
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1000, p=2,
           weights='uniform')

In [13]:
# predict the response
pred = knn.predict(X_test)

In [14]:
# get the accuracy score
accuracy_score(y_test, pred)

0.82522996785991354

In [17]:
# Now let's try fitting KNN for 1000, 2000, 3000, 4000, 5000 neighbors
neighbors = range(1000,6000,1000)
cv_scores = []

In [ ]:
for k in neighbors:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    cv_scores.append(accuracy_score(y_test, pred))

In [ ]:
# changing to misclassification error
MSE = [1 - x for x in cv_scores]

# determining best k
optimal_k = neighbors[MSE.index(min(MSE))]
print "The optimal number of neighbors is %d" % optimal_k

# plot misclassification error vs k
plt.plot(neighbors, MSE)
plt.xlabel('Number of Neighbors K')
plt.ylabel('Misclassification Error')
plt.show()